* {
    margin: 0;
    padding: 0;
}

.container {
    height: 25px;
    width: 90%;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    left: 4%;
}

.bar {
    text-align: center;
    background-color: skyblue;
    height: 100%;
    border-radius: 20px;

    animation: progress 5s ease-in-out infinite;
}

@keyframes progress {
    0%{width: 0%;}
    90%{width: 95%;}
    95%{width: 70%;}
    100%{width: 100%;}
}