* {
    margin: 0;
    padding: 0;
}

.card {
    height: 50vh;
    width: 80vh;
    background-color: bisque;
    margin-left: 65vh;
    margin-top: 170px;
}

#prof {
    text-align: center
}

.circle {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-left: 180px;
    background-color: rgb(99, 96, 242);
    border-radius: 100px;
}

p {
    text-align: bottom;
    margin-top: 50px;
    margin-left: 20px;

}

#button {
    margin-left: 250px;
    margin-top: 40px;
}