* {
    margin: 0;
    padding: 0;
}

#head {
    text-align: center;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.main {
    height: 50vh;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: seagreen;
    border-radius: 50%;
    text-align: center;
}

.para {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

#btn {
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #d0fff6;
    cursor: pointer;
}

#btn:hover {
    background-color: skyblue;
}